table {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}

td{
    height: 30px;
}

.table-title{
    font-weight: 600;
    height: 60px;
}

table, th, td {
  border: 1px solid rgb(36, 36, 36);
  padding: 5px;
}

